@charset "utf-8";
html {
	font-weight:normal;
	position: relative;
	height: 100%;	
}

a {
	text-decoration: none;
}
img {
	border-style: none;
}
ul{list-style: none;}
/* 基础部分*/
body {
	position: relative;
	height: 100%;	
	padding: 0;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}

/*图片列表*/
.file-img{
	height: 265px; 
	max-width: 500px;
}
.file-list{
	margin: 20px auto; 
	padding-left: 0px; 
	overflow:hidden;
}
.file{
	float: left;
    margin: 0 0 20px 20px;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
}
.file-title{
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000); 
	color: #fff;
	font-size: 15px;
	padding: 3px 0;
}

img.file-img {
    position: relative;
    max-width: 100%;
    min-width: 360px;
    opacity: 1;
    max-height: 100%;
    min-height: 300px;
}

figure.effect-oscar.wowload.animated {
	float: left;
    margin: 0 0 0px 0px;
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background: #b5e4f3;
}
.pagination{
	float: bottom;
}

#works{padding-top:2em;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}

@media (max-width: 1200px) {
	.grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}
}
@media (max-width: 900px) {
figure.effect-chico figcaption {padding: 2em;}	
figure.effect-oscar figcaption {padding: 20%;}
figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}	
}
@media (max-width: 767px) {
	#works {padding-top: 5em;}
	figure.effect-chico figcaption {padding: 1.5em;}
}	