.col {
    margin-right: 1%;
    float: left;
}

.left-column {
    width: 16%;
    display: block;
}

.middle-column {
    width: 77%;


}
.page-pagination {
    
    left:0;
    bottom:0;
    text-align:center;
    margin: 20px;
}