.upload_div{
  margin: 20px 0px 0px 0px;
  text-align:center;
  background-color: #ffffff;
}

.upload_ul{
  width: 100%;
}

.upload_ul li{
  margin: auto;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.upload-input {
  display: inline;
}
