<!DOCTYPE html>
<html>
	{% block title %}
		<head>
			<title>资源平台 </title>
			<script src="/static/js/jquery-1.11.0.min.js"></script>
			<link rel="stylesheet" href="/static/css/base.css">
			<link rel="stylesheet" href="/static/css/bootstrap.min.css">
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		</head>
	{% endblock %}
<body class="background">
	<div>
		{% block main_nav %} 
			{% include 'main_nav.html' %} 
		{% endblock %} 
		
		{% block container %}
			<div class="container">
				<div class="panel panel-default">
					<div class="panel-body">
						{% block content %}

						{% endblock %}
					</div>
				</div>
			</div>
		{% endblock %}

		{% block nav2 %}

		{% endblock %}
	</div>
</body>
</html>