<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/file-list.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
<body>

{% comment %} <div class="file-list">
  {% for file in files  %}
    <div class="file">
      <a href='/files/{{ file.id }}'>
        {% if file.cover %}
          <img src="{{ file.cover.url }}" class="file-img">
        {% else %}
          <img src="http://img.zcool.cn/community/01cf3655c8d56132f8755e66dcb76d.png@900w_1l_2o_100sh.jpg" class="file-img">
        {% endif %}
      </a>
      <p><span class="file-title">{{ file.title }}</span></p>
    </div>
  {% endfor %}
</div> {% endcomment %}

<div id="works" class="grid ">
  {% for file in files  %}
  <div>
	<figure class="effect-oscar wowload ">
      <div class="file-score">
          <span class="glyphicon glyphicon-star">评分：{{ file.score }} </span>
      </div>
			{% if file.cover %}
			<img src="{{ file.cover.url }}"  alt="img01" class="file-img"/>
			{% else %}
			<img src="http://img.zcool.cn/community/01cf3655c8d56132f8755e66dcb76d.png@900w_1l_2o_100sh.jpg"  alt="img01" class="file-img">
      {% endif %}
      <figcaption>
          <h2>{{ file.title }}</h2>
          <p>{{ file.introduction }}<br>
          <a href="/files/{{ file.id }}"}>更多信息</a></p>            
      </figcaption>
    </figure>
    {% if file.author = request.user.username or request.user.is_superuser %}
    <div class="file-delete">
        <a class="btn btn-danger" href="/files/delete/{{ file.id }}">删除 </a>
    </div>
    {% endif %}
  
  </div>
    
  {% endfor %}
</div>

</body>
</html>
