<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/file-list.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
<body>

{% comment %} <div class="file-list">
  {% for file in files  %}
    <div class="file">
      <a href='/files/{{ file.id }}'>
        {% if file.cover %}
          <img src="{{ file.cover.url }}" class="file-img">
        {% else %}
          <img src="http://img.zcool.cn/community/01cf3655c8d56132f8755e66dcb76d.png@900w_1l_2o_100sh.jpg" class="file-img">
        {% endif %}
      </a>
      <p><span class="file-title">{{ file.title }}</span></p>
    </div>
  {% endfor %}
</div> {% endcomment %}

<div id="works" class="grid ">
  {% for file in files  %}
	<figure class="effect-oscar wowload ">
			{% if file.cover %}
			<img src="{{ file.cover.url }}"  alt="img01" class="file-img"/>
			{% else %}
			<img src="http://img.zcool.cn/community/01cf3655c8d56132f8755e66dcb76d.png@900w_1l_2o_100sh.jpg"  alt="img01" class="file-img">
			{% endif %}
      <figcaption>
          <h2>{{ file.title }}</h2>
          <p>{{ file.introduction }}<br>
          <a href="/files/{{ file.id }}"}>更多信息</a></p>            
      </figcaption>
    </figure>
  {% endfor %}
</div>



{% comment %} <div id="works" class="grid ">
  <figure class="effect-oscar wowload">
      <img src="/library/library/files/cover/test.jpg"  alt="img01"/>
      <figcaption>
          <h2>Nature</h2>
          <p>Lily likes to play with crayons and pencils<br>
          <a href="#">更多信息</a></p>            
      </figcaption>
  </figure>
</div>
</div> {% endcomment %}

{% comment %} <script type="text/javascript"> 
  getPage(1);
//翻页
function getPage(pn){
  var dataCount=50;//总数据条数
  var pageSize=8;//每页显示条数
  var pageCount= Math.ceil(dataCount / pageSize);//总页数
  if(pn==0||pn>pageCount){
    return;
  }
  var ul=$(".listul");
  ul.empty();
  //console.log(pageCount+"..."+pn)
  paintPage(pageCount,pn);   //绘制页码
  var startPage = pageSize * (pn - 1);

  if (pageCount == 1) {     // 当只有一页时 
    for (var j = 0; j < dataCount; j++) {  
      var e="<li><a href=/file/{{ id }}><img src=\"/library/test.jpg\"></a><p><span>图片"+j+"</span></p></li>";
      ul.append(e);
    }
  }else {      // 当超过一页时 
    var e=""; 
    var endPage = pn<pageCount?pageSize * pn:dataCount;
    for (var j = startPage; j < endPage; j++) {  
      var e="<li><a href=/file/{{ id }}><img src=\"/library/test.jpg\"></a><p><span>图片"+j+"</span></p></li>";
      ul.append(e);
    }
  }
}

//绘制页码
  function paintPage(number,currNum)  //number 总页数,currNum 当前页  
  {
    var pageUl=$(".fenye");
    pageUl.empty();
    var ulDetail="";

    if(number==1){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript:getPage(1)\">1</a></li>"+
     "<li class=\"next\"><a href=\"javascript:void(0)\">下一页</a></li>";
   }else if(number==2){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage(1)\">上一页</a></li>"+
     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage(1)\">1</a></li>"+
     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage(2)\">2</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage(2)\">下一页</a></li>";
   }else if(number==3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
     "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage(1)\">1</a></li>"+
     "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage(2)\">2</a></li>"+
     "<li class=\"numb"+choosele(currNum,3)+"\"><a href=\"javascript:getPage(3)\">3</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">下一页</a></li>";
   }else if(number==currNum&&currNum>3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-2)+")\">"+parseInt(currNum-2)+"</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript:getPage("+currNum+")\">"+currNum+"</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage("+currNum+")\">下一页</a></li>";
   }else if(currNum==1&&number>3){
     ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript:void(0)\">1</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage(2)\">2</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage(3)\">3</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage(2)\">下一页</a></li>";
   }else{
     ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
     "<li class=\"numb choose\"><a href=\"javascript:getPage("+currNum+")\">"+currNum+"</a></li>"+
     "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">"+parseInt(currNum+1)+"</a></li>"+
     "<li class=\"next\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">下一页</a></li>";
   }

   $(".fenye").append(ulDetail);

 }

 function choosele(num,cur){
  if(num==cur){
    return " choose";
  }else{
    return "";
  }
}
</script> {% endcomment %}



</div>
</body>
</html>
