<head>
    <link rel="stylesheet" href="/static/css/high-score.css">
</head>

{% extends "base.html" %}

{% block content %}

    <h3>评分最高</h3>

        {% include 'file_list.html' %}

        <div class="page-pagination">
            <div class="pagination">
                <span class="step-links">
                    {% if files.has_previous %}
                        <a class="btn btn-default" href="?page={{ files.previous_page_number }}">前一页</a>
                    {% endif %}
            
                    <span class="current">
                        第 {{ files.number }} 页，共 {{ files.paginator.num_pages }}页.
                    </span>
            
                    {% if files.has_next %}
                        <a class="btn btn-default" href="?page={{ files.next_page_number }}">后一页</a>
                    {% endif %}
                </span>
            </div>
        </div>

{% endblock %}