<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>登陆</title>
</head>
{% extends "base.html" %}

{% block container %}
<body>
    <div class="log_div">
        <p>登陆</p>
        <ul class="log_ul">
        <form method="post">
            <li>
                <span>用户名：</span>
                <input id='username' type="text" name="username" value="" placeholder="4-8位用户名" class="log_user">
                <span class="tip user_hint"></span>
            </li>
            <li>
                <span>密码：</span>
                <input id='password' type="password" name="password" value="" placeholder="6-16位密码" class="log_password">
                <span class="tip password_hint"></span>
            </li>
            <li>
            <button class="btn btn-default submit_button" type="submit">登陆</button>
            </li>
        </ul>
        </form>
        {% if errors %}
                <h5 class="text-danger"> {{ errors }} </h5>
        {% endif %}
        
        <a href="/regist/">去注册</a>
    </div>
</body>
{% endblock %}