<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/main-nav.css">
</head>

     <nav class="navbar navbar-default navbar-height" role="navigation">
        <div class="container-fluid">
            <div class="navbar-left">
                <a class="navbar-brand" href="/">资源分享平台</a>
            </div>

            <div> 
                <ul class="nav navbar-nav"> 
                <li><a href="/">主页</a></li> 
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >分类 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li role="separator" class="divider"></li>
                        <li><a href="/picture/">图片</a></li> 
                        <li role="separator" class="divider"></li>
                        <li><a href="/document/">文档</a></li> 
                        <li role="separator" class="divider"></li>
                        <li><a href="/application/">软件</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/info/">信息</a></li> 
                    </ul>
                </li>
                <li><a href="/about/">关于</a></li> 
                </ul>
            </div>

            <form method="get" class="navbar-form navbar-right" role="search">
              <div class="form-group">
                {% comment %} <input type="text" class="form-control" placeholder="搜索关键词.."> {% endcomment %}
                <button id="search" type="button" class="btn btn-default" ><span class="glyphicon glyphicon-search"></span>搜索</button>
              </div>
            </form>
            {% if request.user.is_authenticated %}
            <div class="nav navbar-nav navbar-right">
                <ol class="breadcrumb user-info-padding">
                    


                    
                    <li><p class="user-info" >{{request.user.username}} </p></li>

                    {% if request.user.is_superuser %}
                    <li><p class="user-info" >管理员您好</p></li>
                    {% endif %}
                    {% if request.user.is_active %}
                    <li><a href="/upload/" class="user-info">上传文件</a></li>
                    <li><a href="/myupload/" class="user-info">管理我的上传</a></li>
                    {% endif %}
                    <li><a href="/logout/" class="user-info">退出</a></li>
                   
                </ol>
            <div>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signin-button"><a href="/login/" >登陆</a></li>
              <li data-toggle="modal" data-target="#signin-signup-tab" id="signup-button"><a href="/regist/" >注册</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
<script> 
    $('.dropdown-toggle').dropdown()
    search.onclick=function(){
        window.location.href="/search/";
        }
</script> 


{% comment %} <!-- Header Starts -->
<div class="navbar-wrapper">
    <div class="container">

      <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
        <div class="container">
          <div class="navbar-header">
            <!-- Logo Starts -->
            <a class="navbar-brand" href="#home"><img src="images/logo.png" alt="logo"></a>
            <!-- #Logo Ends -->


            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>


          <!-- Nav Starts -->
          <div class="navbar-collapse  collapse">
            <ul class="nav navbar-nav navbar-right scroll">
               <li class="active"><a href="#works">Home</a></li>
               <li ><a href="#about">About</a></li>
               <li ><a href="#partners">Partners</a></li>
               <li ><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <!-- #Nav Ends -->

        </div>
      </div>

    </div>
  </div>
<!-- #Header Starts --> {% endcomment %}


</html>