<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/regist.css">
    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>注册</title>
</head>
{% extends "base.html" %}

{% block container %}
<body>
        <div class="reg_div">
            
            <p>注册</p>
            <ul class="reg_ul">
            <form method="post">
            <li>
                <span>用户名：</span>
                <input id='username' type="text" name="username" value="" placeholder="4-8位用户名" class="reg_user">
                <span class="tip user_hint"></span>
            </li>
            <li>
                <span>密码：</span>
                <input id='password1' type="password" name="password1" value="" placeholder="6-16位密码" class="reg_password">
                <span class="tip password_hint"></span>
            </li>
            <li>
                <span>确认密码：</span>
                <input id='password1' type="password" name="password1" value="" placeholder="确认密码" class="reg_confirm">
                <span class="tip confirm_hint"></span>
            </li>
            <li>
                <span>邮箱：</span>
                <input id='email' type="text" name="email" value="" placeholder="邮箱" class="reg_email">
                <span class="tip email_hint"></span>
            </li>
            <li>
                <button class="btn btn-default submit_button" type="submit" >注册</button>
            </li>
            </ul>
            </form>
            {% if errors %}
                <h5> {{ errors }} </h5>
            {% endif %}
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/regist.js"></script>
</body>

{% endblock %}